@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/* body */
.header{
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
    background-color: black;
    justify-content: space-around;
}

.header-right {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.header-right button{
    padding: 0 20px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #ffffff;
    font-size: 18px;
}

@media (max-width :800px) {
    .header-right{
        display: none;
    }
}

.header button:hover{
    color: yellow;
}

.name p{
    font-weight: bold;
    margin: 0;
    font-size: 30px;
    color: white;
}

.main {
    padding: 20px;
}

.main .line{
    font-size: 30px;
    font-family: "Anton", sans-serif;
    text-align: center;
}

.script-line {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 1000px;
    animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}

.all-card {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;             
    margin: 0 auto;
}

@media(max-width:1000px){
    .all-card{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:750px){
    .all-card{
        grid-template-columns: repeat(1,1fr);
    }
}

.card{
    margin: 20px;
    border: 2px solid rgba(0, 0, 0, 0.171);
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    border-radius: 8px;
}

.name-software {
    font-size: 25px;
    font-family: "Anton", sans-serif;
}

.icon-token{
    display: flex;
    justify-content: space-around;
}

.icon-token img{
    height: 30px;
    width: 30px;
}

.photo{
    padding: 5px;
    overflow: hidden;
}

.photo img{
    border-radius: 8px;
    width: 100%;
}

.price-info{
    display: flex;
    flex-direction: column;
}

.price-info span{
    margin: 2px;
}

.price-info .line-1{
    font-weight: bold;
}
.price-info .line-2{
    font-size: 20px;
    font-weight: bold;
    color: rgb(221, 47, 47);
}
.price-info .line-3{
    font-weight: bold;
}
.price-info .line-4{
    font-size: 20px;
    font-weight: bold;
    color: rgb(221, 47, 47);
}
.button-card{
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.card .button-card button{
    margin: 5px;
    border: 1px dashed black;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: .2s transform linear, .2s height linear .2s;
    font-weight: bold;
}

.card .button-card button:hover{
    
    transform: scale(1.2);
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.site-footer {
    background-color: #000000;
    color: white;
    padding: 20px 0; 
    text-align: center;
    width: 100%;
    left: 0;
}

.info{
    margin: 0 auto;
    /* display: grid;
    grid-template-columns: repeat(2,1pr); */
    display: flex;
    flex-direction: row;
}

.col-2{
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.col-2 .a{
    margin: 0 10px;
}

.main-info{
    margin: 0;
    padding: 20px;
    text-align: left;
}

.main-info .name{
    font-size: 30px;
    font-weight: bold;
}

.main-info .content{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.925);
}

.container{
    margin-top:20px;
}

.footer-content {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}

.links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

.links li {
    font-weight: bold;
    display: inline;
    cursor: pointer;
}

.links li:hover{
    text-decoration: underline;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0; 
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

.social-links li {
    font-weight: bold;
    display: inline;
    cursor: pointer;
}

.social-links li:hover{
    text-decoration: underline;
}

/* notification */
.notification-pop-up {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 20%;
    box-sizing: border-box; /* Ensure padding is included within the width */
}


.notification-pop-up .container{
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background-color: #ffffff;
    padding: 20px 10px;
    box-sizing: border-box;
}

@media (max-width: 800px) {
    .notification-pop-up .container {
        width: 90%;
        max-width: none;
    }
}

.container .line{
    display: flex;
    justify-content: end;
}

.line button{
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size:18px ;
}

.notification-pop-up .container .name-info{
    padding-left: 10px;
    font-weight: bold;
}

.main-info-pop-up{
    display: flex;
    flex-direction: column;
}

.main-info-pop-up span{
    font-size: 15px;
    padding-left: 10px;
}

.buy-software{
    display: flex;
    justify-content: center;
}

.buy-software button{
    cursor: pointer;
    border: none;
    background-color: #eeeeee2f;
}

/* video */

.video{
    display: flex;
    justify-content: center;
    padding :20px;
}

.video iframe{
    border-radius: 8px;
}

