@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    padding: 20px 10px;
    margin: 0;
    background-color: black;
    justify-content: space-between;
}

.header button{
    margin-right: 10px;
    border: none;
    background-color:rgb(255, 255, 255);
    cursor: pointer;
}

.header button:hover{
    transform: scale(1.2);
    transition: .2s transform linear, .2s height linear .2s;
}



.name p{
    margin: 0;
    font-size: 30px;
    color: white;
}

.main {
    padding: 20px;
}

.main .line{
    font-size: 30px;
    font-family: "Anton", sans-serif;
    text-align: center;
}

.all-card {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;             
    margin: 0 auto;
}

@media(max-width:800px){
    .all-card{
        grid-template-columns: repeat(1,1fr);
    }
}

.card{
    margin: 20px;
    border: 2px solid rgba(0, 0, 0, 0.185);
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    border-radius: 8px;
}

.card img{
    width: 100%;
    border-radius: 8px 0 8px 0;
}

.name-software {
    font-size: 20px;
}

.box {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .box:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }
  
  .more button {
    color: black;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }

.site-footer {
    background-color: #000000;
    color: white;
    padding: 20px 0; 
    text-align: center;
    width: 100%;
    left: 0;
}

.info{
    margin: 0 auto;
    /* display: grid;
    grid-template-columns: repeat(2,1pr); */
    display: flex;
    flex-direction: row;
}

.col-2{
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.col-2 .a{
    margin: 0 10px;
}

.main-info{
    margin: 0;
    padding: 20px;
    text-align: left;
}

.main-info .name{
    font-size: 30px;
    font-weight: bold;
}

.main-info .content{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.925);
}

.container{
    margin-top:20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0; 
    display: flex;
    gap: 40px;
}

.social-links li {
    font-weight: bold;
    display: inline;
    cursor: pointer;
}

.social-links li:hover{
    text-decoration: underline;
}


/* video */

.video{
    padding: 20px;
    display: flex;
    justify-content: center;
}
