body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

.body{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid rgba(170, 170, 170, 0.219);
    border-radius: 5px;
    padding: 10px;
    width: 350px;
}

button{
    width: 300px;
    padding: 10px;
    margin: 10px;
    background-color: #c2bdbd4b;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}

.key-form button{
    background-color: #7ee231;
}

.buy-key{
    margin: 10px;
}

.buy-key a{
    text-decoration: none;
    font-weight: bold;
    color: brown;
}

/* From Uiverse.io by mobinkakei */ 
.loader-3 {
    width: 10em;
    display: flex;
    justify-content: space-evenly;
  }
  
  .circle {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
  }
  
  .circle:nth-child(1) {
    background-color: #90be6d;
  }
  
  .circle:nth-child(2) {
    background-color: #f9c74f;
  }
  
  .circle:nth-child(3) {
    background-color: #f8961e;
  }
  
  .circle:nth-child(4) {
    background-color: #f3722c;
  }
  
  .circle:nth-child(5) {
    background-color: #f94346;
  }
  
  .circle::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
    animation: animateLoader38 2s ease-out infinite;
  }
  
  .circle:nth-child(1)::before {
    background-color: #90be6d;
  }
  
  .circle:nth-child(2)::before {
    background-color: #f9c74f;
    animation-delay: 0.2s;
  }
  
  .circle:nth-child(3)::before {
    background-color: #f8961e;
    animation-delay: 0.4s;
  }
  
  .circle:nth-child(4)::before {
    background-color: #f3722c;
    animation-delay: 0.6s;
  }
  
  .circle:nth-child(5)::before {
    background-color: #f94346;
    animation-delay: 0.8s;
  }
  
  @keyframes animateLoader38 {
    0% {
      transform: scale(1);
    }
  
    50%,
    75% {
      transform: scale(2.5);
    }
  
    80%,
    100% {
      opacity: 0;
    }
  }
  
