body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 90%;
    font-weight: bold;
}

h1 {
    font-size: 20px;
    color: #ffe263;
}

.body {
    width: 90%;
    text-align: center;
    margin-top: 10px;
}

.checked-count {
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

.seedphrase-container{
    background-color:#333;
    width: 350px;
    border-radius: 5px;
    height: 210px;
    padding: 2px 0px 2px 10px;
    text-align: left;
    color: #55bd5a;
    margin: auto;
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 12px;
}

.output-box {
    background-color:#333;
    width: 350px;
    height: 80px;
    overflow: hidden;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.image-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 30px 10px 30px;
}

.image-container img {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px;
}
.checked-counts {
    text-align: left;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}

#start-btn {
    width: 150px;
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
}

#start-btn:hover {
    background-color: #45a049;
}

#stop-btn {
    width: 150px;
    background-color: #f44336;
    font-weight: bold;
    color: #fff;
}

#stop-btn:hover {
    background-color: #e53935;
}

@media (max-width: 600px) {
    .logo {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    h1 {
        font-size: 20px;
    }
    .image-container img {
        width: 60px;
        height: 60px;
    }
    button {
        width: 80px;
        font-size: 14px;
    }
}
footer .a {
    font-weight: bold;
    margin: 20px;
    font-size: 16px;
}
footer .a a {
    color: #ecb349;
    text-decoration: none;
}
footer .a a:hover {
    text-decoration: underline;
}
